.nav {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
  transition: 150ms ease-in;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
}

@media screen and (min-width: 1280px) {
  .navContent {
    padding: 8px 20px;
  }
}

.navTitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-gray-dark);
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconWh {
  color: var(--color-orange-title);
  width: 40px;
  height: 40px;
}
