@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove blue rectangle when click on mobile device, idk finded on stakoverflow */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type='file'] {
  display: none;
}

input[type='text'] {
  all: unset;
}

.react-datepicker {
  border-radius: 14px !important;
  border: none !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03), 0 2px 30px rgba(0, 0, 0, 0.08),
    0 0 1px rgba(0, 0, 0, 0.3);
}

.dark .react-datepicker {
  background-color: #18181b !important;
  color: #ffffff !important;
}
.dark .react-datepicker__header {
  background-color: #27272a !important;
  border-bottom-color: #3f3f46 !important;
}
.dark .react-datepicker__current-month {
  color: #ffffff !important;
}
.dark .react-datepicker__day-name {
  color: #ffffff !important;
}
.dark .react-datepicker__day {
  color: #ffffff !important;
}
.dark .react-datepicker__day--keyboard-selected {
  background-color: #075985 !important;
}
.dark .react-datepicker__time-container {
  border-left-color: #3f3f46 !important;
}
.dark .react-datepicker-time__header {
  color: #ffffff !important;
}
.dark .react-datepicker__time {
  background: #18181b !important;
}
.dark .react-datepicker__time-list-item:hover {
  background-color: #27272a !important;
}
.dark .react-datepicker__day:hover {
  background-color: #27272a !important;
}

.react-datepicker-popper {
  width: max-content;
  z-index: 99 !important;
}
