.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 57px);
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.homeContentTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.homeContentH1 {
  font-size: 24px;
  font-weight: 500;
}

.homeBox {
  font-size: 81px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -3px;
  text-align: center;
}

.homeI {
  color: var(--color-blue);
}

.homeD {
  color: var(--color-orange);
}

.homeE {
  color: var(--color-purple);
}

.homeA {
  color: var(--color-red);
}

.homeS {
  color: var(--color-teal);
}

.homeCopy {
  font-size: 14px;
  color: var(--color-gray-dark);
}

.authFlex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.authLogin {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  transition: all 150ms ease-out;
}

.authLogin:hover {
  color: var(--color-gray-dark);
}

.iconWh {
  width: 20px;
  height: 20px;
}

.authSignup {
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-black);
  transition: all 150ms ease-out;
  box-shadow: var(--box-shadow-btn);
}

.authSignup:hover {
  background-color: var(--color-gray-dark);
}
