.modal {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
    z-index: 99;
}