:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #def8d5;
  --primary-1: #d4e3f7;
  --primary-2: #f5ff80;
  --primary-3: #31643f;
  --primary-4: #fff475;
  --primary-5: #fb5a50;
  --primary-6: #fab005;

  --primary-6-op: rgb(250 176 5 / 30%);

  --secondary: #999999;
  --secondary-1: #dbdbdb;
  --secondary-2: #eeeeee;
  --secondary-3: #616161;
  --secondary-4: #d8e4e4;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

svg {
  fill: currentColor;
}

button {
  all: unset;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
}

strong {
  font-weight: 700;
}

hr {
  border: 1px solid var(--secondary-2);
}

p svg {
  display: inline-block;
  vertical-align: text-bottom;
}

input,
textarea {
  all: unset;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.notesContentFlex {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

.noteContents:nth-of-type(4n+1) {
  order: 1;
}

.noteContents:nth-of-type(4n+2) {
  order: 2;
}

.noteContents:nth-of-type(4n+3) {
  order: 3;
}

.noteContents:nth-of-type(4n) {
  order: 4;
}

.break {
  flex-basis: 100%;
  width: 0;
  margin: 0;
  content: "";
  padding: 0;
}


/* Modal */
.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 8px;
  padding: 8px 0px;
  box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
  z-index: 99;
}

.modalNoteSettings {
  position: absolute;
  top: 48px;
  right: 4px;
}

.modalBtn {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  cursor: pointer;
  background-color: transparent;
  transition: 100ms ease-in;
}

.modalBtn svg {
  margin-right: 8px;
}

.modalBtn:first-child {
  color: var(--primary-5);
}

.modalBtn:hover {
  background-color: rgb(0 0 0 / 7.5%);
}

.modalCreateNote {
  position: absolute;
  top: 40px;
  left: 0;

}

@media screen and (min-width: 800px) {
  .modalCreateNote {
    left: 50%;
    transform: translateX(-50%);
  }
}

.modalReminder {
  width: 200px;
}

.modalBgColors {
  padding: 8px 16px;
}