:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #def8d5;
  --primary-1: #d4e3f7;
  --primary-2: #f5ff80;
  --primary-3: #31643f;

  --secondary: #999999;
  --secondary-1: #dbdbdb;
  --secondary-2: #eeeeee;
  --secondary-3: #616161;
  --secondary-4: #d8e4e4;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--black);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

svg {
  fill: currentColor;
}

button {
  all: unset;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

strong {
  font-weight: 700;
}

hr {
  border: 1px solid var(--secondary-2);
  margin-top: 48px;
  margin-bottom: 48px;
}

p svg {
  display: inline-block;
  vertical-align: text-bottom;
}

input,
textarea {
  all: unset;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 240px) minmax(auto, 1280px) 1fr;
  column-gap: 48px;
  height: 100vh;
}

.main {
  padding: 20px 0;
}