:root {
  --color-white: #fff;
  --color-black: #202124;
  --color-red: #f28b82;
  --color-orange: #fbbc04;
  --color-yellow: #fff475;
  --color-yellow-light: #feefc3;
  --color-teal: #a7ffeb;
  --color-blue: #cbf0f8;
  --color-purple: #d7aefb;
  --color-gray: #e8eaed;
  --color-gray-light: #f1f3f4;
  --color-gray-dark: #5f6368;

  --color-black-opacity-7: rgb(0 0 0 / 7.5%);
  --color-black-opacity-10: rgb(0 0 0 / 10%);
  --color-black-opacity-20: rgb(0 0 0 / 20%);
  --color-black-opacity-50: rgb(0 0 0 / 50%);
  --color-white-opacity-50: rgb(255 255 255 / 50%);
}

body.dark {
  --color-white: #202124;
  --color-black: #e8eaed;
  --color-red: #5c2b29;
  --color-orange: #614a19;
  --color-yellow: #635d19;
  --color-yellow-light: #41331c;
  --color-teal: #16504b;
  --color-blue: #2d555e;
  --color-purple: #42275e;
  --color-gray: #3c3f43;
  --color-gray-light: #f1f3f4;
  --color-gray-dark: #5f6368;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-black);
  font-weight: 400;
  background-color: var(--color-white);

  /* background-image: linear-gradient(to right, rgba(200, 200, 200, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(200, 200, 200, 0.15) 1px, transparent 1px);
  background-size: 20px 20px; */
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

svg {
  fill: currentColor;
}

button {
  all: unset;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

h3 {
  font-size: 22px;
}

strong {
  font-weight: 700;
}

hr {
  border: 1px solid var(--color-gray);
}

p svg {
  display: inline-block;
  vertical-align: text-bottom;
}

input,
textarea {
  all: unset;
}

input[type="file"] {
  display: none;
}

/* App */

.container {
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 1280px) {
  .main {
    width: calc(100% - 280px);
  }
}

.content {
  margin: 48px 0;
}

/* Notes Container */

.notes-container {
  margin: 48px 0;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

/* Navbar */

.nav {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
}

.nav-title {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-gray-dark);
  display: flex;
  align-items: center;
}

.nav-title .icon {
  margin-right: 8px;
  color: var(--color-orange);
}

.nav-title .icon svg {
  width: 40px;
  height: 40px;
}

.active {
  color: var(--color-black);
  background-color: var(--color-yellow-light);
}

.notes-settings {
  position: relative;
}

.btn-secondary {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 100px;
  color: var(--color-black);
  cursor: pointer;
  transition: 100ms ease-in;
  background-color: var(--color-gray);
}

.btn-secondary .icon {
  margin-right: 8px;
}

.modal-settings {
  position: absolute;
  right: 0;
  width: 206px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 10px 40px var(--color-black-opacity-20);
  z-index: 99;
}

.modal-settings p {
  padding: 4px 16px;
}

.btn-appearance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 4px 16px;
  margin-top: 8px;
  background-color: transparent;
  transition: 100ms ease-in;
}

.btn-appearance:hover {
  background-color: var(--color-gray-light);
}

/* Navbar Left */

.navbar-left-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

@media screen and (min-width: 1280px) {
  .navbar-left-content {
    padding: 8px 0;
    width: 280px;
  }
}

.hide-on-mobile {
  display: none;
}

@media screen and (min-width: 1280px) {
  .hide-on-mobile {
    display: block;
  }
}

.ul-nav-left {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.li-nav-left a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 12px;
  border-radius: 50%;
  color: var(--color-black);
  transition: 100ms ease-in;
}

@media screen and (min-width: 1280px) {
  .li-nav-left a {
    justify-content: flex-start;
    padding: 12px 24px;
    border-radius: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
}

.li-nav-left a:hover:not(.active) {
  background-color: var(--color-gray-light);
}

@media screen and (min-width: 1280px) {
  .li-nav-left a .icon {
    margin-right: 32px;
  }
}

/* Note */

.note-content-add {
  margin: 48px 0;
}

@media screen and (min-width: 768px) {
  .note-content-add {
    display: flex;
    justify-content: center;
  }
}

.pinned {
  margin: 32px 0;
}

.pinned>p,
.others {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  margin-bottom: 16px;
}

.note-contents {
  position: relative;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 1px 2px var(--color-black-opacity-7), 0 1px 3px 1px var(--color-black-opacity-10);
  transition: 200ms ease-in;
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

.note-contents:hover {
  box-shadow: 0 1px 6px var(--color-black-opacity-7), 0 1px 8px 1px var(--color-black-opacity-10);
}

.top-note-content {
  padding: 20px 20px 0 20px;
}

.note-title {
  margin-bottom: 8px;
}

.edit-note-content {
  margin-top: 8px;
  height: 44px;
  padding: 0 12px 8px 12px;
}

.btns-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  transition: 200ms ease-in-out;
  z-index: 999;
}

.btn-modal {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  color: var(--color-black);
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: 200ms ease-in-out;
}

.btn-modal:hover {
  background-color: var(--color-black-opacity-7);
}

.btn-pin-content {
  position: absolute;
  top: 12px;
  right: 12px;
}

.delete-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black-opacity-50);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal-content {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0 10px 40px var(--color-black-opacity-20);
  width: 540px;
}

.delete-modal-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
}

.delete-modal-btns .btn-modal {
  color: var(--color-gray-dark);
  border-radius: 8px;
  padding: 8px 16px;
}

.delete-modal-btns .btn-modal:last-child {
  color: var(--color-red);
  margin-left: 32px;
}

/* Modal */

.modal {
  position: absolute;
  left: -60px;
  bottom: -20px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 1px 2px var(--color-black-opacity-7), 0 2px 6px 2px var(--color-black-opacity-10);
  z-index: 99;
}

@media screen and (min-width: 820px) {
  .modal {
    left: 50%;
    transform: translateX(-50%);
  }
}

.bg-colors-content,
.reminder-content,
.bg-image-change,
.archive-content,
.delete-content {
  position: relative;
  margin-right: 8px;
}

.reminder-content-note,
.bg-colors-content-note {
  margin-right: 0;
}

.is-archive-note {
  background-color: var(--color-purple);
}

.modal-reminder {
  bottom: -119px;
  width: 200px;
}

.note-modal-reminder {
  left: 0;
}

.reminder {
  padding: 8px 16px;
}

.modal-colors {
  bottom: -82px;
}

.modal-colors p {
  padding: 8px 16px 4px;
  border-bottom: 1px solid var(--color-gray);
}

.btn-reminder {
  cursor: pointer;
  font-size: 12px;
  color: var(--color-gray-dark);
  background-color: transparent;
  padding: 4px 16px;
  transition: 200ms ease-in;
}

.btn-reminder:last-child {
  margin-bottom: 4px;
}

.btn-reminder:hover {
  background-color: var(--color-black-opacity-7);
}

.btn-reminder-format {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-time-content {
  padding: 0 20px 16px;
}

.date-time-content-flex {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 100px;
  transition: 200ms ease-in;
}

.date-time-content-flex:hover {
  background-color: var(--color-black-opacity-10);
}

.date-time-content-note {
  margin-top: 16px;
}

.btn-date-time-remove {
  display: flex;
  position: absolute;
  right: 0;
  padding: 4px;
  background-color: var(--color-black-opacity-7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: 200ms ease-in-out;
}

.btn-date-time-remove .icon svg {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1280px) {
  .btn-date-time-remove-hidden {
    opacity: 0;
  }
}

.hidden {
  opacity: 0;
}

.btn-date-time {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: var(--color-black);
  background-color: var(--color-black-opacity-7);
  padding: 4px 8px;
  padding-right: 32px;
  border-radius: 100px;
}

@media screen and (min-width: 1200px) {
  .btn-date-time {
    padding-right: 8px;
  }
}

.btn-date-time .icon {
  margin-right: 4px;
}

.btn-date-time .icon svg {
  width: 16px;
  height: 16px;
}

.pick-date-time {
  display: flex;
  align-items: center;
}

.pick-date-time .icon {
  margin-right: 4px;
}

.pick-date-time .icon svg {
  width: 16px;
  height: 16px;
}

.list-colors {
  display: flex;
  flex-direction: row;
  padding: 4px 16px 8px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2px;
  border: 2px solid transparent;
  transition: 100ms ease-in;
  cursor: pointer;
}

.color-white {
  background-color: var(--color-white);
}

.color-red {
  background-color: var(--color-red);
}

.color-orange {
  background-color: var(--color-orange);
}

.color-yellow {
  background-color: var(--color-yellow);
}

.color-teal {
  background-color: var(--color-teal);
}

.color-blue {
  background-color: var(--color-blue);
}

.color-purple {
  background-color: var(--color-purple);
}

.color-gray {
  background-color: var(--color-gray);
}

.color:hover {
  border: 2px solid var(--color-gray-dark);
}

.color-default {
  border: 2px solid var(--color-gray);
}

.color:first-child:hover {
  border-color: var(--color-gray-dark);
}

.is-active {
  border: 2px solid var(--color-gray-dark);
}

.btn-edit-note,
.btn-archive-note,
.btn-image-note,
.btn-delete-note,
.btn-pin-note {
  position: relative;
}

.btn-name-details {
  display: none;
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--color-gray);
  background-color: var(--color-black);
  z-index: 100;
}

@media screen and (min-width: 1280px) {
  .btn-modal:hover+.btn-name-details {
    display: block;
  }
}

.btn-submit {
  cursor: pointer;
  display: flex;
  font-weight: 500;
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 8px;
  color: var(--color-gray-dark);
  transition: 100ms ease-in;
}

.btn-submit:hover {
  background-color: var(--color-black-opacity-7);
}

.btn-submit-new:hover {
  background-color: var(--color-black-opacity-10);
}

/* Note Modal */

.note-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black-opacity-50);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999;
  overflow: scroll;
}

.note-modal-container {
  max-width: 580px;
  margin: 0 auto;
  padding: 200px 20px;
}

/* Form */

.form {
  position: relative;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 3px 6px var(--color-black-opacity-7), 0px 1px 6px var(--color-black-opacity-10);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form {
    width: 540px;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0 8px;
}

.form-content input,
.form-content textarea {
  padding: 0 20px 16px;
}

.form-content input::placeholder,
.form-content textarea::placeholder {
  font-weight: 500;
  color: var(--color-gray-dark);
}

.form-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 12px;
}

.form-options-left {
  display: flex;
  align-items: center;
}

/* Image */

.image-src-container {
  position: relative;
}

.image-src {
  display: block;
  width: 100%;
  height: auto;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.btn-image-src {
  position: absolute;
  right: 12px;
  bottom: 12px;
}