.notes {
    padding: 20px;
}

.noteContentAdd {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.notesContentFlex {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}