.noteContentAdd {
    margin: 48px 0;
}

@media screen and (min-width: 800px) {
    .noteContentAdd {
        display: flex;
        justify-content: center;
    }
}

.pinned {
    margin: 32px 0;
}

.pinned>p {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 16px;
}

.pNotes {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 16px;
}